components/2_entropy/features/
components/2_entropy/__pycache__/
components/2_entropy/utils/__pycache__/
ezdd/utils/__pycache__/
ezdd/utils/protein/__pycache__/
ezdd/utils/molecule/__pycache__/
data/
models/
output/
tmp/
manual/
.model.pt
_deprecated
.vscode
.pytest_cache
__pycache__